body {
    background-color: #dff9fb;
}

header {
    background-color: #dff9fb;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
    left: 20%; 
    top: 5%;
}

#container-menu{
    display: flex;
    position:absolute;
    right: 20.0164%; 
    top: 9.61993%;
    
}

#github {
    position: absolute;
    display:inline-block;
    right: 31.819%;
    top: 4.40698%;
}

#linkedin {
    position: absolute;
    display:inline-block;
    right: 26.5299%;
    top: 4.40698%;
}

#facebook {
    position: absolute;
    display: inline-block;
    right: 21.4664%; 
    top: 4.40698%;
}

#menu {
    padding-right: 14px;
}

ul{
    list-style:none;
    padding:0px;
}
li{
    width: 100px;
    height:35px;
    border-right:#FFF solid 1px;
    font-size:23px;
    display:inline-table;
    vertical-align:middle;
    text-align:center;
    background-color: white;
}

li:hover{
    background-color:#F00;
}

#texto {
    font-size: 45px;
    text-align: center;
    position: absolute;
    display:inline-block;
    right: 31.446%;
    top: 23.4358%;
}

#novo-background{
    width:100%;
    height: 90%;
    background-color: #0be881;
    display:inline-block;
    position: absolute;
    right: -0.00932836%;
    top: 59.8795%;
}

#texto2 {
    font-size: 35px;
    text-align: center;
    position: absolute;
    display:inline-block;
    top: 62.1906%;
    right: 54.27%;
}

#terceiro-background {
    width:100%;
    height: 50%;
    background-color: #dff9fb;
    display:inline-block;
    position: absolute;
    right: -0.00932836%;
    top: 149.521%;
}